<div class="row">
  <div class="text-center">
    <%= image_tag("favicon.png", class: "size") %>
    <h4 class="change">Say Something</h4>
  </div>
</div>

<div class="row">
<div class="col-md-9">
  <div class="panel panel-default colm">
    <div class="panel-body coln" id="messages">
      <section id="message-container">
        <%= render @messages %>
      </section>
    </div>
    <div class="panel-footer">
      <%= form_for(@message, html: {role: "form", class: "form-horizontal", autocomplete: "off"}, id: "clear", url: message_path, remote: true) do |f|%>
      <div class="input-group">
          <%= f.text_field :body, placeholder: "Enter message...", class: "form-control"%>
        <span class="input-group-btn">
          <%= f.button '<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>'.html_safe, class: "btn btn-primary" %>
        </span>
        <% end %>
      </div>
    </div>
   </div>
  </div>
  <div class="col-md-3">
   <div class="well col">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><%= link_to "Home", index_path %></li>
      <li role="presentation"><%= link_to "Messages", index_path%></li>
      <li role="presentation"><%= link_to "Logout", logout_path, method: :delete %></li>
      <li role="presentation"><a href="https://github.com/deepakMaj">About</a></li>
    </ul>
   </div>
  </div>
</div>
